* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.home-imagen {
  max-width: 100vw;
  width: 100%;
}

.home-imagen video {
  width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}
.card {
  background-image: linear-gradient(to top, #22222260, black 60%);
  color: #fff;
  border-radius: 20px;
  padding: 1em;
}

nav {
  background: #333;
  color: #fff;
}
nav ul {
  display: flex;
  padding: 20px;
  list-style: none;
}

nav ul li {
  margin: 0 15px;
}
a {
  text-decoration: none;
  color: lightyellow;
}
